@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&family=Outfit:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand: #534AB7;
  --color-brand-light: #EEEDFE;
  --color-brand-border: #AFA9EC;
  --color-brand-dark: #3C3489;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased dark:bg-slate-950 dark:text-slate-100 transition-colors duration-300;
  }
}

